form{
    background-color: lightgrey;
    width: 400px;
    padding: 20px;
}



input[type=text], input[type=password]{
    padding: 5px;
    width: 350px;
}
input[type=submit]{
    background-color: blue;
    color: white;
    padding: 10px;
    width: 200px;
}